:root {
    --width: 425px;
    --border-radius: 10px;
}

html {
    height: 100%;
    background-image: url(RonSwansonCanoeing.jpg);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin: 0.5em;
}

.title {
    margin: 1.25em auto;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

footer {
    text-shadow: 2px 1px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: var(--width);
}

.col {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0.5em;
}

#word {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 4em;
    margin: 0.25em 0.5em;
}
.focus {
    color: rgb(255, 75, 135);
    /* color: red; */
}

#wordcontainer {
    background-color: #161616;
    text-align: center;
    border: 1px solid black;
    border-radius: var(--border-radius);
    min-width: var(--width);
    height: 100px;
    margin: 0.5em auto;
}

@keyframes started {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 0 10px 4px rgb(255, 75, 135);
    }
}
.started {
    animation: started 200ms forwards;
}

@keyframes stopped {
    from {
        box-shadow: 0 0 10px 2px rgb(255, 75, 135);
    }
    to {
        box-shadow: none;
    }
}
.stopped {
    animation: stopped 200ms forwards;
}

input {
    background-color: black;
    color: white;
    padding: 0.25em;
    border-radius: var(--border-radius);
    margin: 0.25em;
    min-width: 80px;
    max-width: 80px;
    outline: none;
    text-align: center;
    line-height: 2em; /* using regular height didn't work for both inputs */
}
input:hover {
    background-color:#161616;
    transition: all 500ms;
}
input[type="button"] {
    border: 2px outset rgb(220, 220, 220);
}
input[type="number"] {
    border: 2px inset rgb(220, 220, 220);
}
input[type="number"]::-webkit-inner-spin-button {
    opacity: 1;
}

#message {
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 75, 135);
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    line-height: 90%;
}

.messagecontainer {
    background-color: rgba(255, 255, 255, 0.801);
    text-align: center;
    border: 1px solid black;
    border-radius: var(--border-radius);
    width: 350px;
    margin: 1em auto;
}

#fullquote {
    color: black;
    text-shadow: 1px 0 1px white !important;
    text-shadow: none;
    font-style: italic;
    font-size: 1.1em;
    text-align: justify;
    margin: 0.5em 1em;
}

.hide{
    display: none;
}